{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Estadísticas Universidad</h4>
            <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/basesDatos_dp_post/Universidad%20de%20los%20Andes/2020-01-01/2021-10-10' " style="text-align:center;">Bases de datos universidad
            </button>
            <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/basesDatos_carreras_db_post/Universidad%20de%20los%20Andes/2020-01-01/2021-10-10' " style="text-align:center;">Bases de datos universidad carrera
            </button>
        </div>
    </div>

    <br>
</div>

{% endblock %}
